:root {
  --primary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #2e2d2d;
  color: #999;
}
main {
  display: grid;
  grid-template-rows: 100vh min-content 40vw repeat(7, min-content);
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 10px;
}

.header {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url("../img/netflix-back.jpg") no-repeat center center/cover;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  background-color: rgba(rgb(24, 23, 23), 0.78);
}
.head {
  margin: auto;
  display: flex;
  margin-top: 2rem;
  width: 90%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
/* /////////icon */
.netflix-icon {
  height: 15rem;
  width: 15rem;
  display: flex;
  margin-top: 0rem;
  object-position: center;
  z-index: 2;
}
.language-sign {
  display: flex;
  justify-content: space-evenly;
  width: 28rem;
  align-items: center;
  z-index: 2;
}

/* /////////////Netflix item */
.translate-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 2;
}
option {
  color: rgb(32, 31, 31);
  width: 2rem;
  position: absolute;
}
#language {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  width: 12rem;
  border-radius: 5px;
  display: flex;
  background-color: transparent;
  color: white;
}

/* /////////contetn  */
.header-box {
  margin-top: -10rem;
  padding: 2rem;
}
.header-content {
  padding: 2rem;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: center;
  z-index: 2;
}

h1 {
  color: white;
  z-index: 2;
  font-size: 5rem;
  font-weight: 900;
}
h2 {
  color: white;
  z-index: 2;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}
h3 {
  color: white;
  z-index: 2;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
}
/* ////////register */
.sing-email {
  z-index: 2;

  margin: auto;
  flex-direction: row;
  .email {
    padding: 1rem;
    width: 30rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.418);
    font-size: 2rem;
    color: rgb(248, 246, 246);
    margin-left: 1rem;
  }
}
